
SuperConfig/obj/*
SuperPort/obj/*
SuperMath/obj/*
YouiToolkit/obj/*
YouiToolkit.Design/obj/*
YouiToolkit.Logging/obj/*
YouiToolkit.Assist/obj/*
YouiToolkit.Design.DirectX/obj/*
YouiToolkit.Utils/obj/*
YouiToolkit.Tools/YouiToolkit.CodeBlock/obj/*
YouiToolkit.Tools/YouiToolkit.ConvertJsToSvg/obj/*
SuperConfig/bin/*
SuperPort/bin/*
SuperMath/bin/*
YouiToolkit/bin/*
YouiToolkit.Design/bin/*
YouiToolkit.Logging/bin/*
YouiToolkit.Assist/bin/*
YouiToolkit.Design.DirectX/bin/*
YouiToolkit.Utils/bin/*
YouiToolkit.Tools/YouiToolkit.CodeBlock/bin/*
YouiToolkit.Tools/YouiToolkit.ConvertJsToSvg/bin/*
.vs/*
YouiToolkit.Tools/YouiToolkit.CodeBlock/.vs/*
YouiToolkit.Tools/YouiToolkit.ConvertJsToSvg/.vs/*
*.user
*.pdb
